<div style="width: 95%;background: #343b40;" class="sidebar-navigation">
    <div class="nav flex-column navbar-dark bg-dark nav-pills" id="v-pills-tab" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true" routerLink="/home/user" routerLinkActive="active">Users</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
            aria-controls="v-pills-messages" aria-selected="false" routerLink="/home/project"
            routerLinkActive="active">Projects</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-settings" aria-selected="false" routerLink="/home/task"
            routerLinkActive="active">Tasks</a>
    </div>
</div>